* {box-sizing: border-box; margin: 0; padding: 0;}

body{
    background-color: black;
    width: 100%;
    color: white;
    font-family: sans-serif;
}

#header{
    /*background-color: gray;*/
    width: 100%;
    height: 9vh;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,1);
}

#nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1.5rem;
}

.link{
    text-decoration: none;
    color: white;
    transition: .2s;
    padding: 10px;
    border-radius: 7px;
}

.link:hover{
    background-color: white;
    color: black;
}

#logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo a{
    margin: 0px 50px;
}

#lista-nav{
    width: 50%;
    display: flex;
    align-items: center;
}

#lista-nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin: 0px 70px;
}

#lista-nav ul li{
    margin: 0px 20px;
}

#main{
    width: 100%;
}

#conteudo-main{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#fortuna{
    width: 50%;
    text-align: center;
}

#video{
    width: 100%;
    z-index: 0;
}  

.conteudo-2{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-titulo{
    width: 100%;
    text-align: center;
    margin: 20px;
}

.conteudo-texto{
    width: 70%;
    text-align: justify;
    line-height: 1.7rem;
}

#footer{
    width: 100%;
    height: 20vh;
    background: white;
    color: black;
}


@media screen and (max-width: 600px){
    #header{height: 5vh;}
    #logo a{margin: 5px;}
    #lista-nav ul{ display: none;}
    #conteudo-main{ height: 30vh;}
    #footer{height: 10vh;}
}