* {box-sizing: border-box; margin: 0; padding: 0;}

body{
    background-color: black;
    width: 100%;
    color: white;
    font-family: sans-serif;
}

ul{
    margin: 0px;
    padding: 0px;
}

.link{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 7px;
}

.link:hover{
    background-color: white;
    color: black;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#header{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0px 10px;
    font-weight: bold;
}

#btn-mobile{
    display: none;
    margin: 20px;
}

#main{
    width: 100%;
}

#conteudo-main{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.conteudo-texto{margin: 15px;}

#conteudo-1{
    width: 100%;
    text-align: center;
}

#conteudo-1 h1{
    font-size: 3rem;
}

#foto{width: 100px; border-radius: 50%;}

#img-background{
    width: 100%;
    z-index: 0;
}  

.conteudo-2{
    margin: 10% 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-titulo{
    width: 100%;
    text-align: center;
    margin: 20px;
}

.conteudo-texto{
    width: 70%;
    text-align: center;
    line-height: 1.7rem;
}

#footer{
    width: 100%;
    height: 20vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-weight: bold;
}

/* #footer a{color:black;} */

#contatos ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contatos ul li{
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icone{
    width: 20%;
}


@media screen and (max-width: 600px){
    #header{height: 5vh;}
    #conteudo-main{ height: 30vh;}
    #footer{height: 10vh;}
    .icone{width: 40%;}
    .conteudo-texto{text-align: center;}

    #conteudo-1 h1{
        font-size: 1.7rem;
    }

    #foto{width: 90px;}

    #menu{
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        transition: .4s;
        top: 41px;
        right: 0 ;
        visibility: hidden;
        background: rgba(0,0,0,0.7);
        overflow: hidden;
    }

    #nav.active #menu{
        height: 110px;
        visibility: visible;
    }

    #menu li{
        padding: .5rem;
        border-bottom:solid 2px gray;
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        gap: .5rem;
    }

    #hamburger{
        border-top: 2px solid;
        width: 20px;
        display: block;
    }

    #hamburger::after, #hamburger::before{
        width:20px;
        height: 2px;
        background-color: currentColor;
        content: "";
        display: block;
        margin-top: 5px;
        transition: .2s;
        position: relative;
    }

    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
        
    }
}