* {box-sizing: border-box; margin: 0; padding: 0;}

body{
    background-color:#1C1C1C;
    width: 100%;
    color: white;
    font-family: sans-serif;
}

#header{
    /*background-color: gray;*/
    width: 100%;
    height: 9vh;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,0.4);
}

#nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1.5rem;
}

.link{
    text-decoration: none;
    color: white;
    transition: .2s;
    padding: 10px;
}

.link:hover{
    background-color: white;
    color: black;
}

#logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo a{
    margin: 0px 50px;
}

#lista-nav{
    width: 50%;
    display: flex;
    align-items: center;
}

#lista-nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    margin: 0px 70px;
}

#lista-nav ul li{
    margin: 0px 20px;
}

#main{
    width: 100%;
}

#conteudo-main{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#p{
    width: 50%;
    text-align: center;
}

#video{
    width: 100%;
    z-index: 0;
}  