*{box-sizing:border-box;}

*{margin-left:0; margin-right:0;}


body{font-family:'Source Sans Pro', sans-serif}

#navegacao{
    display:flex;
    flex-direction:row;
    position: fixed;
    background-color:white;
    width:1342px;
    top:0px;
    border-bottom:solid 1px grey;
}

main{width:1342px;}

.nav{text-decoration:none; color: grey; margin-right: 0px; margin-left:50px;}

#nav1{display:flex;}

#nav2{
    display:flex;
    margin-left: 799px;
}

span{color:#4682B4}

#p{font-size:20px; font-weight:600;}

#bg{
    background-image: url(assets/img-fundo.jpg);
    width:1342px;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-size: auto;
}

#titulo-principal{
    border: solid 1px white;
    border-radius: 4px;
    position:static;
    margin-top:90px;
    width: 490px;
    height: 201px;
    text-align:center;
    background-color: 	rgb(0,139,139,0.5);
}

.texto-titulo{
    color:white;
    font-size:25px;
}

#titulo-principal h1{font-size:50px;}

#titulo-principal{float:left;}

#nav-quartos{
    color:grey;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:60px;
}

#titulo-navquartos{
    text-align:center;
}

#titulo-navquartos h2{font-size:30px; color: #363636;}

#quartos{
    display:flex;
    flex-direction:row;
    flex-grow:1;
}

.quartos-img{width:350px; height:300px; margin:10px; margin-bottom:0px;}

#solteiro, #casal, #familia{
    text-align:center; 
    color:#363636; 
    font-size:22px;
    border-bottom:solid 2px#2E8B57;
    margin:10px;
}

a{text-decoration:none; color:#363636;}

#rota{
    text-align:center;
}

#iframe{
    margin-top:20px;
    margin-bottom:50px;
    width:1000px;
    height:500px;
}

#sobre{
    text-align:center;
}

#itens{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    text-align:left;
}

.item{
    width:500px;
    height:150px;
    margin:10px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.img-sobre{width:150px; height:150px;}

#rodape{
    height:200px;
    background-color:#2E8B57;
    display:flex;
    flex-direction:column;
    justify-content: center;
    color:white;
}

#rodape1{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin:10px;
}

.icone{width:40px; height:40px; margin:10px;}

#endereco, #celular, #reserva, #contato{
    display:flex;
    width:200px;
}

#contato{font-weight:bold; font-size:25px;}

.quartos{
    color:#363636;
    text-align:center;
    margin-top:90px;
    font-size: 21px;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
}

.img-quarto{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.img-quarto img{ width:370px; height:220px; margin:5px;}

.lista-quarto{
    display:flex;
    flex-flow:row wrap;
    width: 1200px;
    justify-content: space-between;
}

.lista-quarto li{ margin:5px 50px;}

.p-info{font-weight:bold; font-size:23px;}

